.body {
    min-height: 244px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px 165px 50px 165px;
    background: rgba(255, 255, 255, 0.56);
}

.title {
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 33px;
    line-height: 1.35;
    width: fit-content;
}

.container {
}