.section {
    min-height: 448px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 165px;
    background: #FFFFFF;
    transition: all .25s ease-in-out;
}

.content_holder {
    transition: all .25s ease-in-out;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.photo {
    transition: all .25s ease-in-out;
    width: 445px;
    height: 348px;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    background-image: url("/static/group1.jpg");
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
}

.frame {
    max-width: 100%;
    transition: all .25s ease-in-out;
    width: 450px;
    height: 348px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
}

.part {
    transition: all .25s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch
}

@media (min-width: 1444px) {
    .photo {
        width: 550px;
        height: 400px;
    }

    .frame {
        margin-left: 5%;
    }
}

@media (min-width: 1550px) {
    .photo {
        width: 550px;
        height: 400px;
        margin-right: 0;
    }

    .frame {
        margin-left: 150px;
    }
}

@media (min-width: 1800px) {
    .frame {
        margin-left: 10%;
    }

    .photo {
        margin-right: 10%;
    }
}

@media (min-width: 2100px) {
    .frame {
        margin-left: 20%;
    }

    .photo {
        margin-right: 20%;
    }
}

@media (max-width: 1260px) {
    @media (min-width: 920px) {
        .section {
            padding: 50px 100px;
        }

        .content_holder {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .photo {
            margin-top: 20px;
            width: 600px;
            height: 300px;
        }

        .frame {
            width: auto;
            height: auto;
            flex-direction: row;
        }

        .part {
            margin: 20px;
        }
    }
}

@media (max-width: 920px) {
    .content_holder {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section {
        padding: 50px;
    }

    .photo {
        margin-top: 40px;
    }
}

@media (max-width: 550px) {
    .photo {
        width: 350px;
        height: 250px;
    }
}

.part_title {
    margin-bottom: 0.5em;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 33px;
    line-height: 1.35;
    align-self: stretch
}

.part_content {
    font-size: 18px;
    font-weight: 500;
}