.body {
    min-height: 725px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 165px 50px 165px;
    background: rgba(255, 255, 255);
}

.text {
    display: flex;
    width: 70%;
    transition: all .25s ease-in-out;
}

.part_text {
    width: 240px;
    margin: 10px;
    transition: all .25s ease-in-out;
}

.title {
    margin-bottom: 0.5em;
    font-size: 26px;
    font-weight: normal;
    align-self: stretch;
    transition: all .25s ease-in-out;
}

.context {
    margin-bottom: 0.5em;
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    line-height: 1.35;
    align-self: stretch;
    transition: all .25s ease-in-out;
}

.link {
    text-align: right;
}

.pic {
    transition: all .25s ease-in-out;
    display: flex;
    width: 400px;
    height: 400px;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    background-image: url("/static/supportus_pic.jpg");
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
}

@media (max-width: 1050px) {
    .body {
        flex-direction: column;
        padding: 25px 100px 50px 100px;
    }

    .text {
        width: 100%;
        justify-content: center;
    }

    .part_text {
        margin: 10px 3%;
    }

    .pic {
        background-position-y: -300px;
        height: 400px;
        width: 500px;
        margin-top: 30px;
    }
}

@media (max-width: 620px) {
    .text {
        flex-direction: column;
    }

    .part_text {
        width: 100%;
        text-align: center;
    }

    .part_text {
        margin: 30px auto auto;
    }

    .pic {
        width: 90%;
        height: 300px;
        background-position: center;
    }
}

@media (min-width: 1300px) {
    .body {
        justify-content: center;
    }

    .text {
        width: auto;
    }
}