.outline {
    background-color: #112143;
    min-height: 200px;
    padding: 0 8%;
    transition: all .25s ease-in-out;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 200px;
    height: 100%;
    padding: 35px 0;
    transition: all .25s ease-in-out;
}

.link_bar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    transition: all .25s ease-in-out;
}

.action_bar {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    transition: all .25s ease-in-out;
}

.link {
    min-width: 126px;
    font-size: 30px;
    color: white;
    margin: 0 15px;
    transition: all .25s ease-in-out;
}

.link_text {
    transition: all .25s ease-in-out;
    font-size: 20px;
    margin-left: 15px;
}

@media (max-width: 910px) {
    @media (min-width: 716px) {
        .link {
            margin: 0;
        }
        .link_text {
            margin-left: 5px;
        }
    }
}



.text_link {
    color: #9d9d9d;
}

.cpr {
    display: flex;
    flex-wrap: wrap;
}

.miit {
    color: white;
}