.body {
    min-height: 725px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 165px 50px 165px;
    background: rgba(255, 255, 255);
}
.text {
    display: flex;
    width:70%;
}
.parttext {
    width:175px;
    margin:10px;
}
.title {
    margin-bottom: 0.5em;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 28px;
    line-height: 1.35;
    align-self: stretch
}
.context {
    margin-bottom: 0.5em;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.35;
    align-self: stretch
}
.link {}
.pic {
    transition: all .25s ease-in-out;
    display:flex;
    width: 400px;
    height: 400px;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    background-image: url("/static/supportus_pic.jpg");
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
}
@media (max-width: 1050px){
    .body{
        flex-direction: column;
        padding: 25px 100px 50px 100px;
    }
    .text{
        width: 100%;
        justify-content: center;
    }
    .parttext{
        margin: 10px 3%;
    }
    .pic{
        margin-top:30px;
    }
}
@media (max-width: 620px) {
   .text{
       flex-direction: column;
   }
    .parttext{
        margin:auto;
        margin-top: 30px;
    }
}
@media (min-width: 1200px){
    .parttext{
        margin-left: 12%;
    }
}