.body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*align-items: center;*/
    padding: 10px 150px 10px 150px;
    background: rgba(255, 255, 255);
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
}

.title {
    display: inline-block;
    margin:auto;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 30px;
    transition: all .25s ease-in-out;
}

.sessionTitle {
    display: inline-block;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 26px;
    transition: all .25s ease-in-out;
}

.sessionCard {
    display: flex;
    flex-direction: column;
    transition: all .25s ease-in-out;
}

.MemberCard {
    display: flex;
    flex-wrap: wrap;
    /*justify-content:;*/
}

.PersonCard {
    width: 225px;
    height: 50px;
    margin:20px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
}
.name,.house {
    color: rgba(0, 0, 0, 0.85);
    font-size: 15px;
    font-weight: 500;
    transition: all .25s ease-in-out;
    align-self: center;
    text-align: center;
}
.name {
    width: 35%;
    padding-left: 15px;
    /*transform: translateX(10px);*/
}
.house {
    width: 65%;
    /*transform: translateX(100px);*/
}

@media (max-width: 1100px){
    .sessionTitle {
        text-align: center;
    }
    .MemberCard {
        justify-content: center;
    }
}